*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    scroll-behavior: smooth;
}

header {
    background: #d84194;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f2f7f8;
}

nav ul {
    list-style: nome;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color:rgb(244, 239, 241);
    text-decoration: none;
}
.hero {
max-width: 400px;
margin: 50px auto;
background: rgba(179, 21, 21, 0.02);
border: 1px solid rgba(255, 255, 255, 0.01);
border-radius: 50px;
padding: 50px;
backdrop-filter: blur(15px);
box-shadow: 0 25px 50px rgba(227, 27, 27, 0.5);
text-align: center;
}

.hero-content p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #921363;
}

.hero img {
    height:46vh;
    background:linear-gradient(135deg, );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(220, 44, 97);
    padding-top: 60px;
}

.hero img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    background: white;
    color: #0072ff;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
}

.section {
    padding: 80px 50px;
    text-align: center;
}

.dark { 
    background: #f7f4f4;
}

.skill {
    max-width: 600px;
    margin: auto;
}

.skill {
    margin: 20px 0;
}

.skills {
display: flex;
flex-direction: column;
align-items: center;
}

.bar{
    background: #f3eff2;
    height: 10px;
    border-radius: 10px;
    width: 600px;
}

.progress { 
    height: 10px;
    border-radius: 5px;
    background: rgb(244, 71, 100);
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgba(228, 85, 147, 0.8);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
    object-fit: cover;
    margin-bottom: 25px;
}

.html {
  width: 100%;
}

.css {
  width: 30%;
}

.js {
  width: 40%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
